/* Стили третьего экрана minting */
.minting {
	margin: 100px 0;
	padding: 60px 100px;
	display: flex;
	flex-direction: column;
	gap: 21px;
	border: 4px solid var(--light-colour);
}
.minting__counter {
	padding-top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 120px;
}

/* Переопределение стилей для мобильных устройств */
@media screen and (max-width: 1170px) {
	.minting {
		padding: 30px;
	}
	.minting__counter {
		flex-direction: column;
		gap: 60px;
	}
}
