/* Стили четвёртого экрана roadmap */
.roadmap__slider {
	padding-top: 78px;
	padding-left: 9%;
}

.roadmap__slider_item {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px;
	min-width: 300px;
	max-width: 370px;
	background-color: var(--dark-colour);
	opacity: 0.4;
}

.carousel-cell.is-selected {
	opacity: 1;
}
.carousel-cell {
	margin-right: 30px;
}

/* Переопределение стилей для мобильных устройств */
@media screen and (max-width: 768px) {
	.roadmap__slider_item {
		max-width: 300px;
	}
}
