/* Переменные текстов */
:root {
	--main-text-size: 18px;
	--button-text-size: 20px;
	--input-text-size: 36px;
	--h1-mob-text-size: 25px;
	--h1-text-size: 50px;
	--h2-text-size: 32px;
	--h3-text-size: 24px;
	--h4-text-size: 22px;
}
