/* Стили шапки */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__nav {
	display: flex;
	gap: 20px;
}
.anchor-links {
	display: flex;
	gap: 75px;
	justify-content: space-between;
}

.sticky-header {
	padding: 23px 0;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: var(--black-colour);
}

/* Переопределение стилей для мобильных устройств */
@media screen and (max-width: 1170px) {
	.header {
		align-items: flex-start;
	}
	.anchor-links {
		gap: 20px;
	}
	.header__nav {
		display: none;
	}
	.logo {
		width: 50%;
	}
}
