/* Переменные цветовой палитры элементов */
:root {
	--black-colour: #000;
	--white-colour: #fff;
	--gray-colour: #c2c2c2;
	--blue-accent-colour: #2d6fee;
	--light-colour: #1b1b1b;
	--dark-colour: #0b0b0b;
}
